<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/head')%>

<body>
    <header><%- include('./partials/header') %></header>
    <h1>Index</h1>

    <footer><%- include('./partials/footer') %></footer>
    <!-- SCRIPT -->
    <%- include('./layouts/scripts')%>
</body>
</html>