<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./../../layouts/head'); %>
<body>
    <!-- sitebar -->
    <%- include('./../../partials/sitebar.ejs'); %>
    
    <div class="container">
        <h1>THÊM NHÀ SẢN XUẤT</h1>
        <hr />
        <form action="" name="frmCraeteBrand" method="post">
            <div class="form-group"> 
                <label for="nsx_ten">Tên nhà sản xuất: </label>
                <input type="text" name="nsx_ten" id="nsx_ten" class="form-control" value="" />
            </div>
            <button type="submit" name="btnSave" class="btn btn-primary" >Lưu</button>
        </form> 
    </div>
    <!-- footer -->
    <%- include('./../../partials/footer.ejs'); %>
    <!-- <script>
        const reader = new FileReader();
        const fileInput = document.getElementById("hsp_tentaptin");
        const img = document.getElementById("preview-img");
        reader.onload = e => {
            img.src = e.target.result;
        }
        fileInput.addEventListener('change', e => {
            const f = e.target.files[0];
            reader.readAsDataURL(f);
        })  
    </script> -->

</body>
</html>