<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./layouts/head'); %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
        <!-- sitebar -->
        <div class="row">
            <%- include('./partials/sitebar'); %>  
            <div class="col">
                <h1>WELLCOM TO DASHBOARD</h1>
            </div>
        </div>
        <!-- footer -->
    </div>
    
    <%- include('./layouts/scripts.ejs') %>
</body>
</html>