<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./layouts/head'); %>
<body>
    <!-- sitebar -->
    <%- include('./partials/sitebar'); %>  

    <h1>WELLCOM TO DASHBOARD</h1>
    
    <!-- footer -->
    <%- include('./partials/footer'); %>
    

</body>
</html>